Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-JWT-Extended
Flask-Cors
Flask-Caching
Flask-WTF
psycopg2-binary
python-dotenv
gunicorn
celery
redis
bcrypt
pandas
openpyxl
requests
rembg[cpu]
aiohttp
aiofiles
Pillow
numpy
holidays
SQLAlchemy